<h1> Gestor de Eventos </h1>
<h4> api para gestion de eventos</h4>

<%= link_to 'Crear Evento', new_event_path,class:'btn btn-default' %>

<div class="events-container">
    <%= render @events %>
</div>
